*{
	margin:0;
	padding:0;
}
html,body{
	width:100%;
	height:100%;
	overflow:hidden;
}
.box{
	width:100%;
	height:100%;
	section{
		width:100%;
		height:100%;
		display:none;
		
	}
	section.on{
		display:block;
	}
}
/********one*********/
#one{
	width:100%;
	height:100%;
	background:url(../img/bg.jpg);
	background-size:100% 100%;
	position:relative;
	img{
		width:100%;
		height:auto;
		position:absolute;
		top:25%;
	}
}
/********two*********/
#two{
	width:100%;
	height:100%;
	background:url(../img/bg_4.jpg);
	background-size:100% 100%;
	position:relative;
	img{
		width:100%;
		height:auto;
		position:absolute;
		bottom:0px;
	}
}
/********three*********/
#three{
	width:100%;
	height:100%;
	background:url(../img/bg_3.jpg);
	background-size:100% 100%;
	position:relative;
	img{
		width:100%;
		height:auto;
		position:absolute;
		bottom:0px;
	}
}
/********four*********/
#four{
	width:100%;
	height:100%;
	background:url(../img/bg_2.jpg);
	background-size:100% 100%;
	position:relative;
	img{
		width:100%;
		height:auto;
		position:absolute;
		bottom:0px;
	}
}
/********five*********/
#five{
	width:100%;
	height:100%;
	background:url(../img/bg_1.jpg);
	background-size:100% 100%;
	position:relative;
	img{
		width:100%;
		height:auto;
		position:absolute;
		bottom:0px;
	}
}
/********six*********/
#six{
	width:100%;
	height:100%;
	background:url(../img/bg.jpg);
	background-size:100% 100%;
	position:relative;
	img{
		width:100%;
		height:auto;
		position:absolute;
		
	}
	.hy{
		bottom:0%;
	}
	.logo{
		width:100%;
		height:auto;
		top:10%;
	}
	.log{
		top:10%;
	}
	.lj{
		bottom:10%;
	}
}